.mainContactos{
    margin: 0;
    box-sizing: border-box;
    background-image: url("../img/J4o.gif");
}
.formContactos{
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    background-color: #6c757d5c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: bisque;
}
.imput-padron{
    width: 89%;
    padding: 3px;
}
#mensaje{
    width: 72%;
    resize: vertical;
    margin: 10px;
}
.div-contactanos{
    display: flex;
    flex-direction: column;
}
.label-del-div-contact{
    margin-left: 28px;
    display: flex;
    flex-direction: row;
    align-items: center
}
.p-contact{
    margin-left: 48px;
}
.div-contactanos2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.enviar{
    margin-left: 81px;
    width: 46%;
    margin-bottom: 9px;
}
@media (min-width:768px) {
.mensaje{
    resize: vertical;
    width: 88%;
}
}
@media(min-width:1024px) {
.mainContactos{
    background-image: url("../img/J4o.gif");
}
.formContactos{
    margin-left: auto;
    margin-right: auto; 
    width: 60%;
    background-color: #6c757d5c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color:bisque
}
.div-contactanos{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.imput-padron{
    width: 89%;
    padding: 9px;
    border-radius: 11px 11px 11px 11px;
}
#contact-check{
        width: 3%
}
.checkbox{
    display: flex;
    margin: 15px 1px 15px 60px;
    font-size: 17px;
}
.enviar{
    margin-bottom: 12px;
    width: 29%;
    padding: 3px;
}
}