body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
}
.Product-Main{
  margin-top: 1px;
  margin-left: 5%;
  width: 1243px;
}
h1 {
  color: #333;
  text-align: center;
}

h2 {
  text-align: center;

}

.search {
  width: 99%;
  height: 35px;
  
}

button {
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

input[type="text"] {
  padding: 5px;
  margin-bottom: 11px;
}

.edit-btn {
  margin-top: 10px;
  background-color: #addc35;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.edit-btn:hover {
  background-color: #206d22;
}


.delete-btn {
  margin-top: 10px;
  background-color: #dc5135;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn:hover {
  background-color: #c82333;
}


.allbuttons {
  display: flex;
  justify-content: center;
}

.Product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.Product-table th,
.Product-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 30px;
}

.Product-table th {
  background-color: #f2f2f2;
}


/* ////////////////////////////////////////////////////////////////////////////////////////// */

.edit-form {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #9e9d9d;
  border-radius: 5px;
}

.edit-form form {
  display: flex;
  gap: 25px;
}

.edit-form label {
  font-weight: bold;
}

.edit-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

.edit-form button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: 1px #333;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}

.edit-form button:hover {
  background-color: #206d22;
}
  .imagenpro{
    width: 150px;
    height: 150px;
    padding: 20px;
  }
.brands{
  color: black;
  font-size: 30px;
}