<%- include("../partials/head.ejs")%>
<body id="basesycond-body">
    
    <%- include("../partials/header.ejs")%>
    <main class="basesycond-main">
        <h1 class="titulo-ByC">Términos y Condiciones</h1>
    <p class="p-ByC">Última actualización: 20 de abril de 2024</p>

    <section id="introduccion">
        <h2 class="titulo-ByC">Introducción</h2>
        <p class="p-ByC">Estos Términos y Condiciones (en adelante, los "Términos") regulan el uso del sitio web https://example.com/ (en adelante, el "Sitio") propiedad de [Nombre del proveedor del servicio] (en adelante, el "Proveedor").</p>
        <p class="p-ByC">Al acceder y usar el Sitio, usted acepta y se compromete a cumplir con estos Términos. Si no está de acuerdo con estos Términos, no debe usar el Sitio.</p>
    </section>

    <section id="definiciones">
        <h2  class="titulo-ByC">Definiciones</h2>
        <p class="p-ByC"><strong>Usuario:</strong> Cualquier persona que acceda y/o utilice el Sitio.</p>
        <p class="p-ByC"><strong>Contenido:</strong> Cualquier información, dato, texto, imagen, audio, video, software o cualquier otro material que se publique o visualice en el Sitio.</p>
        <p class="p-ByC"><strong>Cuenta:</strong> El espacio personal dentro del Sitio al que accede el Usuario mediante un nombre de usuario y contraseña.</p>
    </section>

    <section id="contenido">
        <h2  class="titulo-ByC">1. Derechos y obligaciones del Usuario</h2>
        <p class="p-ByC">El Usuario tiene derecho a:</p>
        <ul class="ul-ByC">
            <li>Acceder y usar el Sitio de manera gratuita.</li>
            <li>Crear una Cuenta y acceder a sus datos personales.</li>
            <li>Utilizar el Contenido del Sitio para su uso personal no comercial.</li>
            <li>Contactar al Proveedor con preguntas o inquietudes.</li>
        </ul>
        <p class="p-ByC">El Usuario se compromete a:</p>
        <ul class="ul-ByC">
            <li>No utilizar el Sitio para fines ilegales o fraudulentos.</li>
            <li>No publicar o transmitir Contenido que sea difamatorio, obsceno, amenazante o de otro modo dañino.</li>
            <li>No utilizar el Sitio para enviar correo no deseado o publicidad no solicitada.</li>
            <li>No interrumpir o interferir con el funcionamiento normal del Sitio.</li>
            <li>No infringir los derechos de propiedad intelectual del Proveedor o de terceros.</li>
        </ul>
    </section>

    <section id="aceptacion">
        <h2  class="titulo-ByC">Aceptación</h2>
        <p class="p-ByC">Para aceptar estos Términos, debe marcar la casilla de verificación siguiente:</p>
        <input type="checkbox" id="acepto-terminos" name="acepto-terminos">
        <label id="label-ByC" for="acepto-terminos">Acepto los Términos y Condiciones</label>
        </section>
    </main>
        <%- include("../partials/footer.ejs")%>
</body>
</html> 
