<%- include("../partials/head.ejs")%>
<body class="body2">
    
    <%- include("../partials/header.ejs")%>
    <main class="main-garantia">
        <section id="garantia-laptops">
            <h2 class="h2-garantia">Garantía para Laptops</h2>
            <p class="p-garantia">En Electro Grup, nos comprometemos a ofrecer productos de alta calidad y un servicio al cliente excepcional. Por eso, ofrecemos una garantía completa para todas nuestras laptops.</p>

            <ul class="listado-garantia">
                <li class="li-garant"><strong>Duración de la garantía:</strong> 1 año a partir de la fecha de compra.</li>
                <li class="li-garant"><strong>Cobertura de la garantía:</strong> Defectos de fabricación y materiales.</li>
                <li class="li-garant"><strong>Proceso de solicitud de garantía:</strong> Debe presentar la factura de compra y la laptop defectuosa en cualquiera de nuestras sucursales.</li>
                <li class="li-garant"><strong>Opciones de reparación o reemplazo:</strong> Si la laptop se encuentra dentro del período de garantía y el defecto está cubierto, Electro Grup la reparará o reemplazará sin costo alguno para el cliente.</li>
                <li class="li-garant"><strong>Exclusiones de la garantía:</strong> Daños causados por accidentes, mal uso, negligencia o abuso.</li>
            </ul>
        </section>

        <section id="contacto">
            <h2 class="h2-garantia">Contáctenos</h2>
            <p class="p-garantia">Si tiene alguna pregunta sobre nuestras políticas de garantía, no dude en contactarnos.</p>
            <ul class="listado-garantia">
                <li class="li-garant">Correo electrónico: soporte@electrogrup.com</li>
                <li class="li-garant">Teléfono: +54 11 1234 5678</li>
                <li class="li-garant">Chat en vivo: https://www.livechat.com/help/setting-up-livechat-on-your-website/</li>
            </ul>
            </section>
    </main>

    <%- include("../partials/footer.ejs")%>
    </body>
    </html>