<%- include("../partials/head.ejs")%>
<body class="body-questions">
    
    <%- include("../partials/header.ejs")%>
    <main class="main-pregF">
        
        <section id="preguntas">
            <h2 class="h2-questions">Preguntas Generales</h2>
            <ul class="accordion">
                <li>
                    <a class="a-question">¿Qué métodos de pago aceptan?</a>
                    <div id="pregunta1" class="content">
                        <p id="p-questions">Aceptamos los siguientes métodos de pago: tarjeta de crédito, tarjeta de débito y transferencia bancaria.</p>
                    </div>
                </li>
                <li>
                    <a class="a-question">¿Cuál es el tiempo de entrega?</a>
                    <div id="pregunta2" class="content">
                        <p id="p-questions">El tiempo de entrega es de 2 a 5 días hábiles para envíos dentro del país. Para envíos internacionales, el tiempo de entrega puede variar dependiendo del destino.</p>
                    </div>
                </li>
                <li>
                    <a class="a-question">¿Ofrecen garantía?</a>
                    <div id="pregunta3" class="content">
                        <p id="p-questions">Sí, ofrecemos una garantía de 1 año en todos nuestros productos.</p>
                    </div>
                </li>
                <li>
                    <a class="a-question">¿Cómo puedo realizar una devolución?</a>
                    <div id="pregunta4" class="content">
                        <p id="p-questions">Para realizar una devolución, debe comunicarse con nuestro servicio de atención al cliente dentro de los 15 días posteriores a la recepción del producto.</p>
                    </div>
                </li>
            </ul>
        </section>

        <section id="soporte">
            <h2 class="h2-questions">Soporte Técnico</h2>
            <p id="p-questions">Si tiene alguna pregunta sobre nuestros productos o necesita asistencia técnica, puede contactarnos a través de los siguientes canales:</p>
            <ul class="ul-pregF">
                <li>Correo electrónico: soporte@laptops-e-commerce.com</li>
                <li>Teléfono: +54 11 1234 5678</li>
                <li>Chat en vivo: https://www.livechat.com/help/setting-up-livechat-on-your-website/</li>
            </ul>
        </section>
    </main>

<%- include("../partials/footer.ejs")%>
</body>
</html>
