<%- include("../partials/head.ejs")%>
<body>
    
    <%- include("../partials/header.ejs")%>
<body>
    <section class="section-1-about">

        <h2>Acerca de nosotros - Grupo4</h2> 
        <p class="p-about">Bienvenido a ElectroGroup, un equipo de desarrolladores talentosos dedicados a crear soluciones innovadoras para nuestros clientes.</p> 
    
    </section>
        <div class="developer"> 
            <h3 id="h3-quienes"> Angel Moreno </h3> 
            <img id="foto-quienes" src="/img/usuario.png" alt="Desarrollador 1">
            <p class="p-about"> desarrollador web entusiasta con una profunda pasión por las nuevas tecnologías y un compromiso inquebrantable,espíritu emprendedor que lo impulsa a buscar constantemente nuevas oportunidades para mejorar sus habilidades y ampliar sus conocimientos. Lo que le permite ofrecer soluciones innovadoras y de vanguardia a sus clientes.</p> 
        </div>
        <div class="developer"> 
            <h3 class="h3-quienes">Emmanuel Heredia</h3>
            <img id="foto-quienes" src="/img/usuario.png" alt="Desarrollador 2">
            <p class="p-about"> desarrollador web backend apasionado por la creación de aplicaciones web robustas y escalables. Me especializo en diseñar, desarrollar y mantener la lógica del lado del servidor, Soy un solucionador de problemas creativo y puedo pensar fuera de la caja, autodidacta y tengo una gran capacidad para aprender cosas nuevas.Apasionado por el desarrollo web y estoy comprometido con la creación de aplicaciones de alta calidad.</p>
        </div> 
        <div class="developer"> 
            <h3 class="h3-quienes">Valeria Castillo</h3> 
            <img id="foto-quienes" src="/img/desarrolladores/vale.jpg" alt="Desarrollador 3"> 
            <p class="p-about">Soy Valeria Castillo, una desarrolladora web en formación con una pasión por la tecnología y un deseo constante de aprender y superarme. Me considero una persona persistente y receptiva, siempre dispuesta a asumir nuevos desafíos y colaborar en equipo para lograr los mejores resultados. Mi principal motivación es mi familia, y quiero utilizar mis habilidades para crear un futuro mejor para ellos.Soy una amante de las ciencias, siempre buscando nuevas formas de comprender el mundo que me rodea. Estoy segura de que, con mi dedicación y trabajo duro, puedo convertirme en una desarrolladora web de éxito y contribuir positivamente al mundo digital.</p>
        </div>
        <%- include("../partials/footer.ejs")%>
    </body>
    </html>