<%- include("../partials/head.ejs")%>
<body class="sucursales-body">
    
    <%- include("../partials/header.ejs")%>

    <main class="sucursale.main">
        <section class="principal">

            <h2 class="titulo-principal">Sucursales Electro Group</h2>

            <p class="p-sucursales">Ubicada en el corazón de la ciudad <strong>Electro Group</strong> trae para el mercado lo  mejor . Fundada en 2023, Electro Group ya es destaque en la ciudad y conquista nuevos clientes diariamente.</p>

            <p id="mision"><em>Nuestra misión es: <strong>"Proporcionar calidad a nuestros clientes"</strong>.</em></p>

            <p class="p-sucursales">Ofrecemos profesionales experimentados que están constantemente observando los cambios y movimiento en el mundo electronico, para así ofrecer a nuestros clientes las últimas tendencias. El atendimiento posee un padrón de excelencia y agilidad, garantizando calidad y satisfacción de nuestros clientes.</p> 

        </section>

        <section class="mapa">
            <h3 class="titulo-principal">Nuestra Ubicación</h3>
            <p class="p-sucursales">Nuestro establecimiento está ubicado en el corazón de la ciudad</p>

            <div class="mapa-contenido">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.7025015169233!2d-58.43974912481417!3d-34.58639345658244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb58c565d7de7%3A0x20c9109a7bf181e4!2sHumboldt%20%26%20José%20A.%20Cabrera%2C%20Cdad.%20Autónoma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1713629493180!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>


        </section>
    </main>

    <%- include("../partials/footer.ejs")%>
</body>
</html>